{% macro displaySourceList(news_list) %}
<div class="row">
    {% for new in news_list %}
    <div class="col-md-4">
        <div class="thumbnail">
            <div class="card-header" style="background-color:#EDEDEE; padding:6px; ">
                <h3 style="text-align:center;">{{ new.name}}</h3>
            </div>
            <img src="{{new.urlToImage}}" alt="" height='100' width='200'>
            <p>{{new.content|truncate(100)}}</p>
            <hr>
            <p>Published at: {{new.publishedAt|truncate(14)}}</p>
            <a href="{{new.description}}" target='self'><button style="color:black;background-color:red">Storyline</button></a>
        </div>
    </div>

    {% endfor %}
</div>
{% endmacro %} {% macro displayArticlesList(articles_list) %}
<div class="row">
    {% for article in articles_list %}

    <div class="col-md-3">
        <div class="thumbnail" style="padding:10px;">
            <div class="card-header-default">
                <h3>{{article.name}}</h3>
            </div>
        
            
                <article>{{ article.description }}</article>
            </p>
            <p><a href="{{article.url}}">View Source...</a></p>
            <hr>
            <div class="card-footer-default">
                <b><small class="text-muted">Category: {{ article.category}}</small></b>
            </div>
        </div>
    </div>
</div>
{% endfor %} {% endmacro %}